<div class="form-group row">
  <label class="col-form-label col-sm-2" for="Pays">Pays</label>
  <div class="col-sm-8">
    <input autofocus readonly  class="form-control" name="Pays" value="<%= model.Pays %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="Description">Description</label>
  <div class="col-sm-7">
    <input readonly class="form-control" name="Description" value="<%= model.Description %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="Materiel">Materiel</label>
  <div class="col-sm-7">
    <input readonly class="form-control" name="Materiel" value="<%= model.Materiel %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="Epices">Epices</label>
  <div class="col-sm-7">
    <input readonly class="form-control" name="Epices" value="<%= model.Epices %>" />
  </div>
</div>
<div class="form-group row">
  <label class="col-form-label col-sm-2" for="Ingredients">Ingredients</label>
  <div class="col-sm-7">
    <input readonly class="form-control" name="Ingredients" value="<%= model.Ingredients %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="Recette">Recette</label>
  <div class="col-sm-10">
    <textarea readonly  class="form-control" cols="20" name="Recette" maxlength="32000" rows="7"><%= model.Recette %></textarea>  
  </div>
</div>
