<%- include("_header") -%>
<center>
<h1>A propos de "Mes Recettes"</h1>

<p>J'ai créé ce blog de recettes pour moi et pour ceux qui aiment la cuisine
    J'espère que vous apprécierez ce recueil et le partagerez avec vos amis.
</p>
<div>L'installation et l'utilisation sont faciles. 
    <p>Prérequis:</p>


    <p>Installation de NodeJS</p>
    Sous Manjaro, dans un terminal entrer:
   <p>sudo pacman -Suy nodejs</p>
    Installation de npm:
    <p>sudo pacman -Suy npm</p></div>
<div>
    Téléchargez le fichier Recette-Master.tar.gz et décompressez le.
    Rendez vous dans le nouveau dossier et tapez la commande: 
    <p>npm i ou npm install et voilà</p>  
</div>
<div>Utilisation:
    Dans un terminal, entrez:
    <p> node index.js</p>
    Lancez ensuite FireFox et tapez l'URL (c'est la barre d'adresses):
    <p>    <localhost:3000> </p>
        Il ne vous reste plus qu'à piocher dans mes recettes et y ajouter les vôtres.
        <p>Cuisinez bien !</p>
</div></center>

<%- include("_footer") -%>
