<%- include("_header") -%>

<h1>Effacer une fiche ?</h1>

<form action="/cdelete/<%= model.Recette_ID %>" method="post">
  <div class="form-horizontal">

    <%- include("_editor") -%>

    <div class="form-group row">
      <label class="col-form-label col-sm-2"></label>
      <div class="col-sm-10">
        <input type="submit" value="Effacer" class="btn btn-default btn-danger" />
        <a class="btn btn-outline-dark cancel" href="/recettes">Annuler</a>
      </div>
    </div>
  </div>
</form>

<%- include("_footer") -%>
