<%- include("_header") -%>

<h1>Voir une recette</h1>

<form action="/voir/>ù=model.Recette_ID %>" method="get">

    <div class="form-horizontal">
        <%- include("_editor") -%>
        div class="form-group row">
        <label class="col-form-label col-sm-2"></label>
        <div class="col-sm-10">
          <input type="submit" value="voir" class="btn btn-default btn-success" class="form-control" cols="20 " name="Recette" maxlength="32000" rows="7" />
          <a class="btn btn-outline-secondary cancel" href="/recettes">Retour</a>
      </div>


<div class="form-group row">
    <label class="col-form-label col-sm-2" for="Pays">Pays</label>
    <div class="col-sm-8">
      <input readonly class="form-control" id="Pays" value="<%= model.Pays %>" />
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="Description">Description</label>
    <div class="col-sm-7">
      <input readonly class="form-control" id="Description" value="<%= model.Description %>" />
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="Materiel">Materiel</label>
    <div class="col-sm-8">
      <input readonly class="form-control" id="Materiel" value="<%= model.Materiel %>" />
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="Epices">Epices</label>
    <div class="col-sm-8">
      <input readonly class="form-control" id="Epices" value="<%= model.Epices %>" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="Ingredients">Ingredients</label>
    <div class="col-sm-8">
      <input readonly class="form-control" id="Ingredientss" value="<%= model.Ingredients %>" />
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="Recette">Recette</label>
    <div class="col-sm-10">
      <textarea readonly class="form-control" cols="20" id="Recette" maxlength="320000" rows="7" value="<%= model.Recettes %>"></textarea>
    </div>
  </div>
</form>
<%- include("_footer") -%>