<%- include("_header") -%>

<h1>Les Recettes de Data !</h1>
<div>Cliquez sur Recette pour accéder à la base de données</br>
     Cliquez sur about pour en savoir un peut plus.
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<%- include("_footer") -%>