<%- include("_header") -%>

<h1>Liste des recettes (<%= model.length %>)</h1>

<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Pays</th>
        <th>Description</th>
        <th>Materiel</th>
        <th>Epices</th>
        <th>Ingredients</th>
        <th>Recette</th>
        <th class="d-print-none">
          <a class="btn btn-sm btn-success" href="/ccreate">Ajouter</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <% for (const recipe of model) { %>
        <tr>
          <td><%= recipe.Pays %></td>
          <td><%= recipe.Description %></td>
          <td><%= recipe.Materiel %></td>
          <td><%= recipe.Epices %></td>
          <td><%= recipe.Ingredients %></td>
          <td><%= recipe.Recette %></td> 
          <td class="d-print-none">
            <a class="btn btn-sm btn-warning" href="/edit/<%= recipe.Recette_ID %>">Modifier</a>
            <a class="btn btn-sm btn-danger" href="/cdelete/<%= recipe.Recette_ID %>">Effacer</a>
            <a class="btn btn-sm btn-dark" href="/voir/<%= recipe.Recette_ID %>">voir</a>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

<%- include("_footer") -%>
