<%- include("_header") -%>

<h1>Voir une recette</h1>

<form action="/voir/>ù=model.Recette_ID %>" method="post">
  
<div class="form-horizontal">

    <%- include("_ceditor") -%>

    <div class="form-group row">
      <label class="col-form-label col-sm-2"></label>
      <div class="col-sm-10">
        <input type="submit" value="voir" class="btn btn-default btn-success" class="form-control" cols="20 " name="Recette" maxlength="32000" rows="7" />
        <a class="btn btn-outline-secondary cancel" href="/recettes">Retour</a>
    </div>
  </div>
</div>
</form>
<%- include("_footer") -%>